<div class="about row">

    <div class="col-md-8">

        <h2>关于我</h2>

        <p>我是陈吉平（网名 My），2020 年 11 月份开始参加工作，目前专注于数据工程和性能优化领域。毕业于泉州师范学院软件工程专业，主攻后端开发，擅长 Java 与 JavaScript 为主的技术栈，包括但不限于前后端开发、数据分析与处理、性能优化以及分布式系统设计。在过去的几年里，不仅参与过 0 到 1 的产品研发，也主导过成熟产品的架构升级和维护。</p>

        <p>
        在团队管理方面，我致力于帮助提升团队成员的技术水平和工程能力。提倡引导而非教授，与团队共同成长能让我更有成就感。
        </p>

        <p>
        对于未来，我希望能做一名”产品工程师“，不局限于具体的编程语言、技术栈、平台。
        </p>
            
        
        <h2>联系</h2>

        <ul>
            <li>邮箱：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>技能关键词</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">软件工程</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
